.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-card{
  border: 1px black solid;
  border-radius: 10px;
  width: 150px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
